<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="ignoreUnresolvablePlaceholders" value="true" />
		<property name="locations">
			<list>
				<value>classpath:common.properties</value>
			</list>
		</property>
	</bean>

	<import resource="classpath:spring-config-aop.xml" />
	<import resource="classpath:spring-config-service.xml" />
	<import resource="classpath:spring-config-snowflake.xml" />
</beans>
